In [2]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [23]:
df = pd.read_csv('./inventory.csv')
df

              Item  Current Inv  Sales  Recieved
0      Lawn Chairs           20      0         0
1        Umbrellas           50      0         0
2          Coolers           20      0         0
3    Paving Stones           10      0         0
4     Pool Noodles           75      0         0
5  Flippy Floppies           20      0         0

In [9]:
df.columns

Index(['Item', 'Current Inv', 'Sales', 'Recieved'], dtype='object')

In [28]:
lawn_chair = (df['Item'] == "Lawn Chairs")
df.loc[lawn_chair, "Current Inv"] = '10' 
df.loc[lawn_chair]

          Item Current Inv  Sales  Recieved
0  Lawn Chairs          10      0         0

In [24]:
df

              Item  Current Inv  Sales  Recieved
0      Lawn Chairs           20      0         0
1        Umbrellas           50      0         0
2          Coolers           20      0         0
3    Paving Stones           10      0         0
4     Pool Noodles           75      0         0
5  Flippy Floppies           20      0         0